<html lang="en">
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class = "panel panel-default">
            <div class = "panel-heading">
              <h1> Thanks for joining Bulletin! </h1>
              <h3> Your account information is below:</h3>
            </div>
            <div class ="panel-body">
              <h4> Calendar Name: </h4> <h5><%= @t.nickname %> </h5>
              <h4> Contributor One: </h4> <h5><%= @t.person1 %> </h5>
              <h4> Contributor Two: </h4> <h5><%= @t.person2 %> </h5>
              <h4> Password: </h4> <h5><%= @t.password_digest %> </h5>
            </div>
          </div>
            <div>
              <a type = "submit" class = "btn btn-Success" href ="http://localhost:3000/user_home">Continue</a>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>
