<html lang="en">
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to Bulletin!</h1>
        <p>You're only a minute way from unparalleled levels of organization</p>
      </div>
    </div>

    <div class="container">
     <form role="form">
      <div class="form-group">
        <label for="contributor-one">Participant 1</label>
        <input type="text" class="form-control" id="contributor-one" placeholder="Name">
      </div>
      <div class="form-group">
        <label for="contributor-two">Participant 2</label>
        <input type="text" class="form-control" id="contributor-two" placeholder="Name">
      </div>
      <div class="form-group">
        <label for="account-id">Calender Name / User ID</label>
        <input type="text" class="form-control" id="account-id" placeholder="Calendar Name">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <a type="submit" class="btn btn-success" href="/user-home">Submit</a>
    </form>
  </div>
  </body>
</html>
