<!DOCTYPE html>
<html>
  <body>
   <div class="jumbotron">
      <div class="container">
        <h1>Welcome to Bulletin!</h1>
        <p>Bulletin is a way to keep your partner up-to-date on what you're up to.</p>
        <p><a class="btn btn-primary btn-lg" href="/create-account">Create an account &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h2>Create Events</h2>
          <p>Create new events for you or your partner.</p>
        </div>
        <div class="col-lg-4">
          <h2>Share Events</h2>
          <p>Determine who needs to attend what events and seamlessly sync them with your partner. </p>
        </div>
        <div class="col-lg-4">
          <h2>Live Your Life</h2>
          <p>Forgot when you need to pick your wife up at the airport?  Just made a dinner reservation?  No more questions... just answers.</p>
          <p><a href="/create-account" class="btn btn-primary btn-lg">Get Started</a></p>
        </div>
      </div>
    </div>
  </body>
</html>
