<html lang="en">
  <body>
    <div class = "container">
      <div class = "jumbotron">
        <h1>Your Calendar</h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-8">

          <h1>Your Upcoming Events</h1>

          <div class = "list-group">
            <% @events = Event.all %>
            <% @events.each do |event| %>
              <a href="/event/<%= event.id%>" class = "list-group-item">
                <h3 class = "list-group-item-heading">
                  <%= event.title %>
                </h3>
                <p class = "list-group-item-text">
                  <%= event.start_time.to_formatted_s(:long_ordinal) %>
                </p>
              </a>
            <% end %>
          </div>

        </div>

        <div class="col-lg-4">
          <h1>Add Event</h1>
          <form role = "form" action = "http://localhost:3000/create_event">
            <div class="form-group">
              <label for="event-name">Title</label>
              <input type="text" class="form-control" id="event-name" placeholder="Event name" name="title">
            </div>
            <div class="form-group">
              <label for="event-description">Description</label>
              <input type="text" class="form-control" id="event-description" placeholder="What's going on?" name="description">
            </div>
            <div class="form-group">
              <label for="event-location">Location</label>
              <input type="text" class="form-control" id="event-loc" placeholder="Where's it going down?" name="location">
            </div>
            <div class="form-group">
              <label for="start-time">Start Time</label>
              <input type="datetime-local" class="form-control" id="start-time" placeholder="" name="start_time">
            </div>
            <div class="form-group">
              <label for="end-time">End Time</label>
              <input type="datetime-local" class="form-control" id="end-time" placeholder="" name="end_time">
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="" name="person1">Person 1</input>
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="" name="person2">Person 2</input>
              </label>
            </div>
            <select class="form-control">
              <option>Work</option>
              <option>Social</option>
              <option>Volunteering</option>
              <option>Travel</option>
            </select>
            <input type="submit" class="btn btn-success" value = "Submit">
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
