<html lang="en">
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <h1>Your Calendar</h1>
          <img src="outlook-calendar-example.png" class="calendar" href"">
        </div>
        <div class="col-lg-4">
          <h1>Add Event</h1>
          <form role="form">
            <div class="form-group">
              <label for="event-name">Title</label>
              <input type="text" class="form-control" id="event-name" placeholder="Event name">
            </div>
            <div class="form-group">
              <label for="event-description">Description</label>
              <input type="text" class="form-control" id="event-description" placeholder="What's going on?">
            </div>
            <div class="form-group">
              <label for="event-location">Location</label>
              <input type="text" class="form-control" id="event-loc" placeholder="Where's it going down?">
            </div>
            <div class="form-group">
              <label for="start-time">Start Time</label>
              <input type="datetime-local" class="form-control" id="start-time" placeholder="">
            </div>
            <div class="form-group">
              <label for="end-time">End Time</label>
              <input type="datetime-local" class="form-control" id="end-time" placeholder="">
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="">Person 1</input>
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="">Person 2</input>
              </label>
            </div>
            <select class="form-control">
              <option>Work</option>
              <option>Social</option>
              <option>Volunteering</option>
              <option>Travel</option>
            </select>
            </div>
            <a type="submit" class="btn btn-success" href="/user-home">Submit</a>
          </form>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
      </div>
    </div>


    <div class="container">
      <footer>
        <p>&copy; Bulletin 2013</p>
      </footer>
    </div> <!-- /container -->
  </body>
</html>
